{% extends 'website/webbase.html'%}
{% load static %}
{% block content %}


<title>Home</title>


<main>
    <div class="container mt-4">
        <h1>Discover, Share and Love Books Together</h1>
        <div class="row my-4">
            
            <div class="col-md-9">
                <section class="header_filter mb-3">
                    <form id="filterForm" method="get" action="{% url 'website' %}">
                        <div class="d-flex">
                            <div class="price_dropdown me-3">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Price
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="price_range" value="less_than_1000"
                                                id="price1">
                                            <label class="form-check-label" for="price1">INR 1000 or less</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="price_range" value="1000_to_2000" id="price2">
                                            <label class="form-check-label" for="price2">INR 1000 to INR 2000</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="price_range" value="above_2000"
                                                id="price3">
                                            <label class="form-check-label" for="price3">INR 2000 & above</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <button type="submit" class="btn btn-primary">Apply Filters</button>
                        </div>
                    </form>
                    
                    
                </section>
                <section class="showcase_books">
                    {% if error %}
                    <p>No books found. Please try again.</p>
                    {% elif books %}
                    {% for book in books %}
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" class="img-fluid rounded-start"
                                    alt="{{ book.volumeInfo.title }}" width="50%">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="">{{ book.volumeInfo.title }}</a>
                                    </h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ book.volumeInfo.authors|join:", " }}</h6>
                                    <p class="card-text">{{ book.volumeInfo.description|truncatewords:20 }}</p>
                                    <p class="card-text">
                                        <small class="text-body-secondary">{{ book.volumeInfo.categories|join:", " }}</small>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title">
                                            {{ book.saleInfo.retailPrice.amount|default:"Price not available" }}
                                            {{ book.saleInfo.retailPrice.currencyCode|default:"" }}
                                        </h5>
                                        <form method="post" class="like-form" data-isbn="{{ book.isbn }}" data-book-name="{{ book.volumeInfo.title }}"
                                            data-book-author="{{ book.volumeInfo.authors|join:" , " }}"
                                            data-book-rating="{{ book.volumeInfo.averageRating|default:0 }}"
                                            data-description="{{ book.volumeInfo.description|default:'' }}"
                                            data-thumbnail-url="{{ book.volumeInfo.imageLinks.thumbnail|default:'' }}" data-like-url="{% url 'like_book' %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-outline-primary" aria-label="Like">
                                                <i class="fas fa-thumbs-up"></i>
                                                <span class="count">{{ book.like_count|default:0 }}</span>
                                            </button>
                                        </form>
                                        
                                        <!-- Button to show number of comments and open modal -->
                                        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#commentModal">
                                            Comments (<span id="commentCount">{{ book.comments_count }}</span>)
                                        </button>
                                        
                                        <!-- Comment Modal -->
                                        <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="commentModalLabel">Comments</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- Comment Form -->
                                                        <form class="comment-form" data-comment-url="{% url 'add_comment_ajax' %}" data-isbn="{{ book.isbn }}">
                                                            {% csrf_token %}
                                                            <div class="mb-2">
                                                                <label for="newComment" class="form-label">Add a comment:</label>
                                                                <input type="text" class="form-control" name="newComment" placeholder="Write your comment here...">
                                                            </div>
                                                            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                                        </form>
                                                        
                                                        <!-- List of comments for this book -->
                                                        <ul id="comments-list-{{ book.isbn }}">
                                                            {% for comment in book.comments.all %}
                                                            <li>{{ comment.user.username }}: {{ comment.comment }}</li>
                                                            {% empty %}
                                                            <li>No comments yet. Be the first to comment!</li>
                                                            {% endfor %}
                                                        </ul>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Pagination Controls -->
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                    
                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                    {% else %}
                    <p>No books found. Please try again later.</p>
                    {% endif %}
                </section>
            </div>
        </div>
        
        

    </div>
    
</main>

{% endblock %}