{% extends 'website/webbase.html' %}
{% load static %}

{% block content %}
<title>Liked Books</title>

<main>
    <div class="container mt-4">
        <h1>Your Liked Books</h1>
        <div class="row my-4">
            <div class="col-md-9">
                <section class="showcase_books">
                    {% if books %}
                    {% for book in books %}
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ book.thumbnail_url }}" class="img-fluid rounded-start"
                                    alt="{{ book.book_name }}" width="50%">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="">{{ book.book_name }}</a>
                                    </h5>
                                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ book.book_author }}</h6>
                                    <p class="card-text">{{ book.description|truncatewords:20 }}</p>
                                    <p class="card-text">
                                        <small class="text-body-secondary">{{ book.categories|join:", " }}</small>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex justify-content-between">
                                        <h5 class="card-title">
                                            Rating: {{ book.book_rating|default:"not available" }}
                                        </h5>
                                        <button type="submit" class="btn btn-sm btn-outline-primary" aria-label="Like">
                                            <i class="fas fa-thumbs-up"></i>
                                            <span class="count">{{ book.like_count|default:0 }}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Pagination Controls -->
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                    {% else %}
                    <p>No books found. Please try again later.</p>
                    {% endif %}
                </section>
            </div>
        </div>
    </div>
</main>
{% endblock %}